<section class="section has-background-info-light my-4 box">
    <div class="column is-one-fifth">
    <a href="/product/{{id}}">
    <img src="/images/{{filename}}" alt="{{product_name}}">
    <h2 class="title">{{product_name}}</h2>
    </a>
    <p class="subtitle">price: ${{price}}</p>
    <p class="subtitle">stock: {{stock}}</p>
    <p class="subtitle">category id: {{category_id}}</p>
    </div>
</section>